{% extends 'crud/main.html' %}{% load static %}{% block mainc %}

<div class="row mx-5 my-5">
    <div class="col-4">
        <form action="insert" method="POST">
            {% csrf_token %} {{form.as_p}} <input type="Submit" class="btn btn-danger" value="submit">
        </form>
    </div>
    <div class="col-8">
        <table class="table table-bordered">
            <thead>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th colspan="2" class="text-center">Action</th>
            </thead>
            <tbody>
                {% for i in res %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email }}</td>
                    <td>{{i.password }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'edit' i.id %}">Edit</a>
                    </td>
                    <td>
                        <form action="{% url 'delete' i.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr> {% endfor %}
            </tbody>


        </table>
        <!-- 
        {% if res.has_previous %}

        <a href="{% url 'index' %}?page={res.previous_page_number}}">Previous</a>{% endif %} {% for i in res.paginator.page_range %} {% if res.number == i %}
        <li class="active"><span>{{ i }} </span>
        </li>
        {% else %}
        <li><a href="{% url 'index' %}?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if res.has_next %}
        <a href="{% url 'index' %}?page={{res.next_page_number}}">next</a>{% endif %} -->

        <ul class="pagination">
            {% if res.has_previous %}
            <li class="page-item">
                <a href="{% url 'index' %}?page={{res.previous_page_number}}" class="page-link">Previous</a>
            </li> {% endif %} {% for i in res.paginator.page_range %} {% if res.number == i %}
            <li class="page-item">
                <a href="" class="page-link">{{i}}</a>
            </li> {% else %}
            <li class="page-item">
                <a href="{% url 'index' %}?page={{i}}" class="page-link">{{i}}</a>
            </li>{% endif %} {% endfor %} {% if res.has_next %}
            <li class="page-item">
                <a href="{% url 'index' %}?page={{res.next_page_number}}" class="page-link">Next</a>
            </li> {% endif %}

        </ul>
    </div>
</div>{% endblock mainc %}
</ul>

</div>
</div>